.heroes {
  list-style: none;
}

.heroes li {
  background-color: #dcdcdc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.heroes li span {
  background-color: #afafaf;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.heroes li.selected {
  background-color: #c1c1c1;
}
